<div class="content-books p-d-flex">
    <div *ngFor="let book of dataBooks" class="content-cad-book p-text-center p-shadow-11 p-ml-6">
        <img [src]="book.coverRoute" alt="Card">
        <h3 class="p-mt-2 p-mb-2">{{book.name}}</h3>
        <hr>
        <p class="p-m-0">Precio: ${{utilService.miles(book.price)}}</p>
        <p class="p-my-2">Displonible: {{book.stock}}</p>
        <button class="btn-add" pButton (click)="openToAddBook(book)">¡Lo quiero! <i class="pi pi-plus p-ml-2"></i></button>
    </div>
</div>

<p-dialog [(visible)]="displayDialogModal" [modal]="true">
    <ng-template pTemplate="header">
        <span *ngIf="bookSelected != undefined"><i class="pi pi-check"></i> {{'Añadir '+bookSelected.name}}</span>
    </ng-template>
    <div>
        <h1 class="p-text-center p-mt-0 p-mb-3">Cantidad</h1>
        <input type="number" [(ngModel)]="quantity" name="quantity" class="w-100" pInputText placeholder="Ingresa una cantidad"/>
    </div>
    <p-footer>
        <p-button icon="pi pi-times" (click)="cancelModalBook()" label="Cancelar" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" (click)="addBook()" label="Agregar" styleClass="p-button-text"></p-button>
    </p-footer>
</p-dialog>