.btn-unfilled {
    background: unset;
    border: unset;
    color: gray;
    &:hover {
        background: unset;
        color: gray;
        border-color: unset;
    }
}

.quantityShop {
    font-size: 0.7rem;
    background: red;
    width: 15px;
    border-radius: 50%;
    color: #fff;
}

.greeting {
    color: gray;
}
