<div class="p-grid">
    <div class="p-col-12">
        <p-menubar>
            <ng-template pTemplate="start">
                <div class="p-d-flex p-ai-center">
                    <img src="./assets/imgs/library-logo.png" height="40" class="p-mr-2">
                    <button class="p-ml-3 btn-unfilled" pButton [routerLink]="[{ outlets: { dashboardItem: ['book'] } }]"><i class="pi pi-home p-mr-2"></i> Inicio</button>
                    <button class="p-ml-3 btn-unfilled" pButton [routerLink]="[{ outlets: { dashboardItem: ['shopping'] } }]"><i class="pi pi-shopping-cart p-mr-2"></i> Carrito <span *ngIf="quantityShop != 0" class="quantityShop">{{quantityShop}}</span></button>
                </div>
            </ng-template>
            <ng-template pTemplate="end">
                <button pButton class="btn-unfilled" (click)="signOut()">Cerrar Sesión <i class="pi pi-power-off p-ml-2"></i></button>
            </ng-template>
            
        </p-menubar>
    </div>
    <div class="p-col-12">
        <h1 *ngIf="customer != undefined" class="p-mb-3 p-mt-0 p-text-center greeting">{{textWelcomeUser+', '+customer.name+' '+customer.surname}}</h1>
        <router-outlet name="dashboardItem"></router-outlet>
    </div>
</div>