.btn-remove {
    background-color: #c12f2f;
    border: 1px solid #c12f2f;
    width: fit-content;
    padding: 7px;
    &:hover {
        background: #9c1a1a;
        color: #fff;
        border-color: #9c1a1a;
    }
}

.btn-edit {
    width: fit-content;
    padding: 7px;
}

.btn-success {
    background: #16ad16;
    border: 1px solid #16ad16;
    &:hover {
        background: #0d900d;
        color: #fff;
        border-color: #0d900d;
    }
}