<div class="p-grid">
    <div class="p-col-10 p-offset-1">
        <h2 class="p-mt-0 p-mb-0 p-text-center"><i class="pi pi-shopping-cart p-mr-2"></i> Mi Carrito De Compras</h2>
        <hr>
        <div class="p-d-flex p-ai-center p-jc-end">
            <h3 class="p-m-0">Total: ${{utilService.miles(totalPrice)}}</h3>
            <button pButton class="btn-success p-ml-2" (click)="buy()" type="button">Comprar <i class="pi pi-credit-card p-ml-2"></i></button>
        </div>
        <p-table [value]="shoppings">
            <ng-template pTemplate="header">
                <tr>
                    <th>Libro</th>
                    <th>Precio Unitario</th>
                    <th>Cantidad</th>
                    <th>Stock</th>
                    <th>Total</th>
                    <th>Acción</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-shopping>
                <tr>
                    <td>{{shopping.book.name}}</td>
                    <td>${{utilService.miles(shopping.book.price)}}</td>
                    <td>{{shopping.quantity}}</td>
                    <td>{{shopping.book.stock}}</td>
                    <td>${{utilService.miles(shopping.total)}}</td>
                    <td>
                        <button pButton class="p-mr-2" (click)="edit(shopping)" type="button"><i class="pi pi-pencil"></i></button>
                        <button pButton class="btn-remove" (click)="remove(shopping.id)" type="button"><i class="pi pi-times"></i></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <h3 class="p-mb-0 p-mt-2 p-text-center" *ngIf="shoppings.length == 0">Sin Libros...</h3>
    </div>
</div>

<p-dialog [(visible)]="displayDialogModal" [modal]="true">
    <ng-template pTemplate="header">
        <span *ngIf="shopping != undefined && shopping.book != undefined">{{'Modificar '+shopping.book.name}}</span>
    </ng-template>
    <div>
        <h1 class="p-text-center p-mt-0 p-mb-3">Cantidad</h1>
        <input type="number" [(ngModel)]="quantity" name="quantity" class="w-100" pInputText placeholder="Ingresa una cantidad"/>
    </div>
    <p-footer>
        <p-button icon="pi pi-times" (click)="cancelModalBook()" label="Cancelar" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" (click)="update()" label="Modificar" styleClass="p-button-text"></p-button>
    </p-footer>
</p-dialog>