.p-grid {
    background: linear-gradient(15deg, rgba(254,64,64,1) 18%, rgba(254,105,64,1) 47%, rgba(254,200,49,1) 65%, rgba(255,234,30,1) 86%);
    > div {
        padding: 0;
    }
    p-card {
        width: 400px;
        img {
            width: 200px;
        }
        button {
            background: #febc33;
            border: 1px solid #febc33;
        }
        .content-user-login {
            width: 300px;
            p {
                color: gray;
                font-size: .9rem;
                span {
                    cursor: pointer;
                }
            }
        }
    }
}

.alert-noti {
    background-color: #ff6a6a;
    padding: 8px;
    border-radius: 4px;
    color: #fff;
}