<div class="p-grid hv-100 p-m-0">
    <div class="p-col-12 h-100">
        <div class="p-d-flex p-jc-center p-ai-center h-100">
            <p-card class="p-text-center p-shadow-11">
                <ng-template pTemplate="content">
                    <div class="alert-noti p-mb-2" *ngIf="message != ''">
                        <p class="p-m-0">{{message}}</p>
                    </div>
                    <img src="./assets/imgs/library-logo.png" alt="Icon book of the library">
                    <h1 class="p-text-center">Libreria la 90</h1>
                    <div class="p-d-flex p-flex-column content-user-login p-m-auto">
                        <div class="p-field p-mb-4">
                            <span class="p-float-label p-input-icon-left w-100">
                                <i class="pi pi-user"></i>
                                <input type="text" id="input-user" class="w-100" [(ngModel)]="user" name="user" pInputText> 
                                <label for="input-user">Usuario</label>
                            </span>
                        </div>
                        <div class="p-field">
                            <span class="p-float-label p-input-icon-left w-100">
                                <i class="pi pi-lock"></i>
                                <input type="password" id="input-pass" (keyup.enter)="getToken()" class="w-100" [(ngModel)]="pass" name="pass" pInputText> 
                                <label for="input-pass">Contraseña</label>
                            </span>
                        </div>
                        <button pButton class="p-m-auto" (click)="getToken()">Ingresar <i class="pi pi-sign-in p-ml-2"></i></button>
                        <p class="p-mt-2 p-mb-0 p-text-right"><span>¿No recuerdas tus datos? Clic aquí</span></p>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>