/* You can add global styles to this file, and also import other style files */
body {
    margin: 0 !important;
}
.hv-100 {
    height: 100vh;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}